<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Sr.No</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product ID</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let myPro of products; index as i">
                    <td># {{i +1}}</td>
                    <td><img src="{{myPro.proImg}}" width="70" height="50" ></td>
                    <td>{{myPro.name}}</td>
                    <td>{{myPro.id}}</td>
                    <td>{{myPro.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


//For loop has odd,even,first,last,index as properties