<p>Start editing to see some magic happen :)</p>

<form [formGroup]="form" (ngSubmit)="submitForm()">
    <p><b>Reactive Radio</b></p>
    <div>
        <input type="radio" formControlName="user_gender" value="Male" />
        <label>Male</label>
    </div>
    <div>
        <input type="radio" formControlName="user_gender" value="Female" />
        <label>Female</label>
    </div>
    <div>
        <input type="radio" formControlName="user_gender" value="TransGender" />
        <label>TransGender</label>
    </div>

    <p><b>Reactive Checkbox</b></p>
    <ul formArrayName="fruits">
        <li [formGroupName]="i" *ngFor="let item of fruitsData.controls; let i = index">
            <input type="checkbox" formControlName="checked" /> {{ fruitsArr[i].name }}
        </li>
    </ul>


    <p><b>Drop Down</b></p>
    <select formControlName="cityName">
        <option *ngFor="let city of City" [value]="city">{{city}}</option>
    </select>
    <button type="submit" color="danger" expand="block">Submit</button>

</form>

<br>
<pre>{{ result | json }}</pre>